boto3>=1.42,<1.43
botocore>=1.42,<1.43
flask==3.0.3
pyjwt==2.9.0
pycryptodome==3.20.0
python-dotenv==1.0.1
requests==2.32.3
matplotlib==3.9.0
awscli-local==0.22.0
pytest==8.2.2
bcrypt==4.2.0
reportlab==4.2.2
